<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Pessoal</title>
    <link rel="stylesheet" href="./static/modelo.css"> 

</head>
<body>
   

    <h1>Página Sambas Inéditos</h1>
    <article id="describe">
      
   
        Compositor cantor com mais de 120 músicas, sambas dolentes e partido alto link no youtube onde estou postando os videos e também estou na oneprn gravadora on line segue os links    
      </p>
      <p class="texto">
            REDE SOCIAIS <br> <br> 
            <a href="https://www.youtube.com/channel/UCzclqvjeSZUrlBuSH_ewcdA?sub_confirmation=1"> Página Youtube</a> <br>
            Your site is live at <a href="https://franciscocpierna.github.io/projeto-social-/ ">Site</a>  <br><br>
            Nas plataformas digitais da gravadora
            <a href="https://onerpm.com/artist/music?artist_id=61440&preview=">Oneprn</a> <br>
            <a href="https://open.spotify.com/artist/3NLMo1v3SeFApv1lR8eVJN">Spotify</a> <br>
            <a href="https://music.apple.com/us/artist/francisco-carlos-pierna/1534422334">Apple music</a>  <br>
            <a href="https://www.amazon.com/s?k=Francisco+Carlos+Pierna&i=digital-music&search-type=ss&ref=ntt_srch_drd_B074F9QZPT">Amazom</a> <br><br>
             Instagram  
             instagram @carlospierna
             


      </p>

      <aside>
        
        <img src="./static/chico.jpg" alt="Francisco Carlos Pierna"> 
        
        
        
    </aside>
   </article>
    
</body>
</html>
